<!DOCTYPE html>
<html>
  	<head>
    	<title>Grumbler: Share your rants</title>
		<link rel="stylesheet" href="/stylesheets/pure-min.css">
    	<link rel='stylesheet' href='/stylesheets/grumbler.css' />

		<script src="javascripts/jquery.min.js"></script>
		<script src="javascripts/grumbler.js"></script>

  	</head>
  	<body>
    	{{{body}}}
  	</body>
</html>
