<!DOCTYPE html>
<html>
  	<head>
    	<title>Grumbler: Share your feelings</title>
		  <link rel="stylesheet" href="/stylesheets/pure-min.css">
    	<link rel='stylesheet' href='/stylesheets/grumbler.css' />

      <script src="/socket.io/socket.io.js"></script>
		  <script src="javascripts/jquery.min.js"></script>
		  <script src="javascripts/grumbler.js"></script>
  	</head>
  	<body>
    	{{{body}}}
  	</body>
</html>
