.navbar {
	background-color: #5d9694;
	position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-left: 30px;
	border-bottom: 2px solid gray;
	color: white;
	height: 70px;
}

.main-content {
    display: -webkit-flex;
    display: flex;
	position:absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.panel-title {
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid gray;
	padding: 10px 0 10px;
    margin: 0 20px 0 20px;
}

.user-grumble {
    -webkit-flex: 1;
    flex: 1;
    border-right: 1px solid gray;
}

.grumble-stream {
    -webkit-flex: 2;
    flex: 2;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    border-right: 1px solid gray;
}

.new-grumble-panel {
    padding: 0 20px 0 20px;
}

.grumble-panel {
    overflow-y:scroll;
    padding: 0 20px 0 20px;
    margin-top: 10px;
}

.chat-panel {
    -webkit-flex: 1;
    flex: 1;
}

.user-icon {
	width: 30px;
	height: 30px;
}

.grumble {
	padding-top: 10px;
}

.grumble-user, .comment-user {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
	font-weight: bold;
}

.grumble-content {
	margin-left: 50px;
	padding: 10px 10px 10px 10px;
    white-space: pre-line;
}

.grumble-footer, .comment-footer {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
	padding: 5px 0 5px 10px;
}

.grumble-datetime, .comment-datetime {
	color: gray;
	font-style: italic;
	font-size: 8pt;
}

.grumble-level {
	font-size: 11pt;
	font-weight: bold;
	font-style: italic;
}

.grumble-level-0 {
    color: #4285f4;
}

.grumble-level-1 {
	color: #d19c00;
}

.grumble-level-2 {
	color: #fc6262;
}

.grumble-level-3 {
	color: #a30000;
}

.grumble-level-4 {
    color: #7ffc5d;
}

.user-name {
	padding-left: 10px;
}

.input-label {
	padding-top: 10px;
}

.input-button {
	margin-top: 10px;
}

.input-grumble-text, .input-comment-text {
	width: 100%;
}

.input-comment-text {
    margin-top: 5px;
}

.comments-panel {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    font-size: 10pt;
}

.comment-container {
    display: -webkit-flex;
    display: flex;
}

.space {
    -webkit-flex: 1;
    flex: 1;
}

.comment {
    -webkit-flex: 2;
    flex: 2;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid gray;
}

.comment-content {
	margin-left: 60px;
}

.grumble-actions {
    display: -webkit-flex;
    display: flex;
	font-size: 10pt;
}

.action-buttons {
    -webkit-flex: 2;
    flex: 2;
    padding-bottom: 3px;
    border-bottom: 1px solid gray;
}
.empathize-btn {

}

.toggle-comments-btn {
    padding-left: 10px;
}

.new-comment {
    display: -webkit-flex;
    display: flex;
}

.comment-form {
    -webkit-flex: 2;
    flex: 2;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 5px 50px;
    font-size: .9em;
}

.comment-form-top {
    display: -webkit-flex;
    display: flex;
}

.submit-comment-btn {
    margin: 3pt 0 3pt 3pt;
}

.chat-panel {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

#users-count {
    font-weight: bold;
    padding: 10px 0 5px 10px;
    margin: 0 20px 10px 20px;
    border-bottom: 1px solid gray;
    font-size: 11pt;
    text-align: right;
}

.new-message {
    border-top: 1px solid;
    padding-bottom: 10px;
    margin: 0 20px 0 20px;
    font-size: 11pt;
}

#chat-content {
    -webkit-flex: 1;
    flex: 1;
    overflow-y:scroll;
    font-size: 10pt;
    padding-left: 20px;;
}

.message-form {
    padding-left: 10px;
}

#message-list {
    list-style-type: none;
}

.message {
    display: -webkit-flex;
    display: flex;
}

.chat-username {
    font-weight: bold;
    padding-right: 5px;
}

textarea {
    resize: vertical;
}

#new-message-text {
    resize: none;
}

#update-stream {
    text-align: center;
    background-color: #85f6fc;
    padding: 3px 0 3px;
    margin: 5px 30px 0 30px;
    font-style: italic;
    display: none;
}